body {
 background-color: #F5E6E8;
 font-family: sans-serif; 
}


h1 {
    font-family: 'Cedarville Cursive', cursive; 
    font-size: 90px;
    margin-top: 0px;
    margin-bottom: 0.1em;
    color: white;
    text-align: center;
    
}
  aboutMe {
      padding-right: 1em;
      padding-bottom: 1em;
      margin-left: 1em;
      
      
  }

div{
    background-color: #FFF4F4;
    padding-right: 2em;
   
}


img {
    padding-left: 4em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-top: 0;
    margin-left: 1;
 
}

.fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   
   }

   .fade:hover {
      opacity: 0.5;
      }
